# Intro

We are familiar with NumPy and its `ndarray` object, which enables efficient storage and manipulation of dense typed arrays in Python. Now we build on this knowledge by looking in depth at the *data structures* provided by the Pandas library.

Pandas is a newer package built on top of NumPy that provides an efficient implementation of a `DataFrame`. `DataFrames` are essentially multidimensional arrays with attatched row and column labels, ofen with heterogeneous types and/or missing data.

# Chapter 13 : Introducing Pandas Objects

In [2]:
# start code with standard NumPy and Pandas imports
import numpy as np
import pandas as pd

## 13.1 The Pandas `Series` Object
---

A Pandas `Series` is a 1-d array of indexed data. It can be created from a list or array as follows:

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

The `Series` combines a sequence of values with an explicit sequence of indices which we can access with the **`values`** and **`index`** attributes. The `values` are simply a familiar NumPy array.

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The `index` is an array-like object of type `pd.Index`.

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

Data can be accessed by the associated index via the familiar Python square-bracket notation.

In [7]:
print(data[1], '\n')
print(data[1:3])

0.5

1    0.50
2    0.75
dtype: float64

### Series as Generalized NumPy Array

The difference between a `Series` and a NumPy array is that NumPy arrays have an *implicity defined* integer index to access values while the Pandas `Series` has an *explicitly defined* index associated with values.

This explicit index definition gives the `Series` object capabilities. For example, the index need not be an integer, but can consist of values of any desired type.

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
# item access works as expected
data['b']

0.5

In [11]:
# noncontiguous or nonsequential indices
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = [2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [12]:
data[5]

0.5

### Series as Specialized Dictionary

You can think of a Pandas `Series` as a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary kesy to a set of arbitrary values, and a `Series` is a structure that maps typed keys to a set of typed values.

The `Series`-as-dictionary analogy can be made clear by constructing a `Series` object directly from a Python dictionary.

In [13]:
population_dict = {'California': 39538223, 'Texas': 29145505,
                   'Florida': 21538187, 'New York': 20201249,
                   'Pennsylvania': 13002700}
population = pd.Series(population_dict)
population

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [14]:
population['California']

39538223

In [15]:
# Unlike dictionary, Series support array-style operations
population['California':'Florida']

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

### Constructing Series Objects

We've already seen a few ways of constructing a pandas `Series` from scratch. Al of them are some version of the following:
```
pd.Series(data, index = index)
```
where `index` is an optional argument, and `data` can be one of many entities.

For example, `data` can be a list or NumPy array, in which case `index defaults to an integer sequence.

In [16]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [17]:
# data can be a scalar, which is repeated to fill a specified index
pd.Series(5, index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [18]:
# can be a dictionary, index defaults to dictionary keys
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [19]:
# index can be explicity set to control order or subset of keys used
pd.Series({2:'a', 1:'b', 3:'c'}, index = [1, 2])

1    b
2    a
dtype: object

## 13.2 The Pandas `DataFrame` Object
---

The `DataFrame` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dicionary.

### DataFrame as Generalized NumPy Array

If a `Series` is an analog of a 1-d array with explicit indices, a `DataFrame` is an analog of a 2-d array with explicit row and column indices. Think of a `DataFrame` as a sequence of aligned `Series` objects. By "aligned" we mean they share the same index.

To demonstrate, construct a new `Series` listing the area of five states in the previous section (in square km).

In [22]:
area_dict = {'California': 423967, 'Texas': 695662, 'Florida': 170312,
             'New York': 141297, 'Pennsylvania': 119280}
area = pd.Series(area_dict)
area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
dtype: int64

Now that we have this along with the `population` `Series` from before, we can use a dictionary to construct a single 2-d object containing this information.

In [23]:
states = pd.DataFrame({'population':population, 'area':area})
states

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

In [24]:
# just like Series, DataFrame has index attribute
states.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

### DataFrame as Specialized Dictionary

We can also think of a `DataFrame` as a specialization of a dictionary. Where a dictionary maps a key to a value, a `DataFrame` maps a column name to a `Series` of column data. For example, asking for the `area` attribute returns the `Series` object containing the areas.

In [27]:
states['area']

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

### Constructing DataFrame Objects

#### From a single Series object

A `DataFrame` is a collection of `Series` objects, and a single-column `DataFrame` can be constructed from a single `Series`.

In [28]:
pd.DataFrame(population, columns = ['population'])

              population
California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700

#### From a list of dicts

Any list of dictionaries can be made into a DataFrame. We'll use a simple list comprehension to create some data.

In [30]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with `NaN` values.

In [31]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a dictionary of Series objects

A `DataFrame` can be constructed from a dictionary of `Series` objects as well.

In [32]:
pd.DataFrame({'population': population, 'area': area})

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

#### From a 2-d NumPy array

Given a 2-d array of data, we can create a `DataFrame` with any specified column and index names. If ommited, an integer index will be used for each.

In [33]:
pd.DataFrame(np.random.rand(3,2),
             columns = ['foo', 'bar'],
             index = ['a', 'b', 'c'])

        foo       bar
a  0.961252  0.945854
b  0.357918  0.973797
c  0.947724  0.232175

#### From a NumPy structured Array

Structured arrays were covered in Chapter 12. A Pandas `DataFrame` operates much like a structured array and can be created directly from one.

In [34]:
A = np.zeros(3, dtype = [('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [35]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## 13.3 The Pandas `Index` Object
---

The `Index` object can be thought of either as an *immutable array* or as an *ordered set*. Let's construct an `Index from a list of integers.

In [36]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

### Index as Immutable Array

The `Index` in many ways operates like an array. We can use standard Python indexing notation to retrieve values or slices.

In [37]:
ind[1]

3

In [38]:
ind[::2]

Index([2, 5, 11], dtype='int64')

In [40]:
# also has many of the attributes familiar from Python arrays
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One difference is that indices are immutable - that is they cannot be modified via normal means.

In [41]:
ind[1] = 0

TypeError: Index does not support mutable operations

### Index as Ordered Set

The `Index` object follows many of the conventions used by Python's built-in `set` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way.

In [42]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [43]:
indA.intersection(indB)

Index([3, 5, 7], dtype='int64')

In [45]:
indA.union(indB)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [47]:
indA.symmetric_difference(indB)

Index([1, 2, 9, 11], dtype='int64')

# Chapter 14 : Data Indexing and Selection

## 14.1 Data Selection in Series
---

### Series as Dicitonary

### Series as 1-D Array

### Indexers: `loc` and `iloc`

## 14.2 Data Selection in DataFrames
---

### DataFrame as Dictionary

### DataFrame as 2-D Array

### Additional Indexing Conventions

# Chapter 15: