# Chapter 1 : Creating Your First Database and Table

We use SQL to define the structure of a table and how each table might relate to other tables in a database. We use SQL to extract, or *query* from tables.

Understanding tables is fundamental to understanding the data in your database. When working with a fresh database, look at the tables within. Look for clues in the table names and their column structure. Do the tables contain text, numbers, or both? How many rows are in each table? Look at how many tables are in the database.

## 1.1 Creating a Database
---

PostgreSQL is a *database management system* which allows you to define, manage, and query databases. When you install PostgreSQL, it creates a *database server*, an instance of the application running on your computer, that includes a default database called `postgres`. The database is a collection of objects that includes tables, functions, user roles, and much more.

We will be leaving this default database and create a new one. We'll do this to keep objects related to a particular topic or application organized together.

To create a database, use the keywords `CREATE` and `DATABASE`:
```
CREATE DATABASE analysis;
```
This creates a database named `analysis` using default PostgreSQL settings. The semicolon `;` ends all PostgreSQL statements and is part of the ANSI SQL standard.

## 1.2 Creating a Table
---

Let's take a look at the `CREATE TABLE` statement. The following table definition is far from comprehensive. It's missing several constraints that would ensure that columns must be filled do indeed have data or that we've not inadvertently entering duplicate values. These are omitted for now to focus on getting started:
```
CREATE TABLE teachers (             -- 1
    id bigserial,                   -- 2
    first_name varchar(25),         -- 3
    last_name varchar(50),          
    school varchar(50),             
    hire_date date,                 -- 4
    salary numeric                  -- 5
);                                  -- 6
```

#1 has two keywords `CREATE` AND `TABLE` along with the name `teachers`. Following is an open parenthesis and a comma-separated list of *column names* along with their data types.

#2 defines the `id` column with the datatype `bigserial` which is a special integer type that auto-increments every time you add a row to the table. The first row receives the value of 1 in the `id` column, the second 2, and so on. This is ***PostgreSQL specific***, but most database systems have a similar feature.

#3 creates columns for a teacher's first name, last name, the school where they teach. Each of these is of type `varchar`, a text column with a maximum length specified by the number in the parentheses.

#4 has data type `date` and #5 has data type `numeric` which will be covered in Chapter 3.

#6 wraps up the code block with the closing parenthesis and a semicolon.

## 1.3 Inserting Rows into a Table
---

To insert, make sure the query tool is empty. Then we can use the `INSERT` keyword.
```
INSERT INTO teachers (first_name, last_name, school, hire_date, salary)        -- 1
VALUES ('Janet', 'Smith', 'F.D. Roosevelt HS', '2011-10-30', 36200),           -- 2
       ('Lee', 'Reynolds', 'F.D. Roosevelt HS', '1993-05-22', 65000),
       ('Samuel', 'Cole', 'Myers Middle School', '2005-08-01', 43500),
       ('Samantha', 'Bush', 'Myers Middle School', '2011-10-30', 36200),
       ('Betty', 'Diaz', 'Myers Middle School', '2005-08-30', 43500),
       ('Kathleen', 'Roush', 'F.D. Roosevelt HS', '2010-10-22', 38500);        -- 3
```

This block code example inserts names and data for six teachers. 

#1 : Here, the PostgreSQL follows the ANSI SQL standard: after the `INSERT` `INTO` keywords is the name of the table, and in the parentheses are the columns to be filled.

#2 : The `VALUES` keyword and the data are inserted into each column in each row. You need to enclose the data for each row in a set of parentheses, and inside each set of parentheses , use a comma to separate each column value. The order of the values must match the order of the columns specified after the table name. Each row of data ends with a comma.

#3 : The last row ends the entire statement with a semicolon.

Note, text and dates require quotes while numbers such as integers and decimals do not. There is no data inserted for the `id` column because it is (recall) of data type `bigserial` which will automatically fill the `id` column with an auto-increasing integer.

## 1.4 Formatting SQL for Readability
---

No special formatting is required to run, but for the sake of readability and being a good coder, it's best to follow these conventions:
- **Uppercase SQL keywords** such as `SELECT`.
- **Avoid camel case** and instead use `lowercase_and_underscores` for object names, such as tables and column names
- **Indent clauses and code blocks** for readability using either two or four spaces (or tabs).

# Chapter 2 : Beginning Data Exploration with `SELECT`

## 2.1 Basic `SELECT` Syntax
---

## 2.2 Sorting Data with `ORDER BY`
---

## 2.3 Filtering Rows with `WHERE`
---

## 2.4 Putting It All Together
---